@font-face { font-family: Sans; src: url('Source_Sans_Pro/SourceSansPro-Regular.ttf'); } 

/* ALL */
* {
  font-family: Sans;
  /* border: 1px solid red; */
}

body.bg {
  background-color:#252b31;
  margin: 0;
}

html, body {
  height: 100%;
}
/* BIRTHDAY FORM ENTRY SECTION */

div.birthdate {
  display: none;
}

div.header {
  text-align: center;
}

img.cake {
  width: 200px;
  margin-top: 2%;
}

h1.title, label {
  color: #d49c6b;
}

div.content {
  text-align: center;
}

form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

label {
  font-size: 24px;
}

input, label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

input.input-date {
  width: 100px;
  font-size: 40px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: #252b31;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #c1c8c7;
  text-align: center;
}

input:hover, input:active, input:focus {
  border: 0;
  border-width:0px;
  outline: 0;
}

button.submit {
  background-color: #252b31;
  border: none;
  border-radius: 5px;
  color: #d49c6b;
  font-size: 30px;
  margin-top: 20px;
}

p#error {
  color: #f6fafb;
}

/* AGE SECTION */
div.age_counter {
  display: none;
}

div#age_counter {
  text-align: center;
  margin-top: 32vh;
  width: 60%;
  height: 275px; 
  float: left;
}

p#age, p#age-max, p#time-now, p#percent_of_day {
  color: #f6fafb;
  font-size: 9vw;
  margin: 0px;
}

p#age {
  margin: 0px 0px 0px 20px;
}

p#time-now{
  font-size: 11vw;
  margin-top: -10px;
}

p#percent_of_day {
  font-size: 8vw;
}

p#age-max {
  font-size: 4.667vw;
}

p#out-of {
  color: #f6fafb;
  font-size: 1.333vw;
  margin: 5px 0px;
}

p.misc {
  color: #f6fafb;
  font-size: 20px;
  margin: 0;
}

h1.title-age {
  color: #d49c6b;
  margin: -10px 0px 0px 0px;
  font-size: 35px;
}

/* AGE STATS */
div#time {
  float: left;
  text-align: center;
  width: 38%;
  margin-top: 18vh;
}

div.time {
  display: none;
}

div.day_percent {
  display: none;
}

div#day_percent {
  float: left;
  text-align: center;
  width: 38%;
  margin-top: 75px;
}