@font-face { font-family: Sans; src: url('Source_Sans_Pro/SourceSansPro-Regular.ttf'); } 

/* ALL */
* {
  font-family: Sans;
  /* border: 1px solid red; */
}

body.bg {
  background-color:#252b31;
  margin: 0;
  /* background-image: url('images/starry.jpg');
  background-position: -1vh -50vh ; */
}

html, body {
  height: 100%;
}

div#container {
  width: 100%;
}

/* BIRTHDAY FORM ENTRY SECTION */

div.birthdate {
  display: none;
}

div.header {
  text-align: center;
}

img.cake {
  width: 200px;
  margin-top: 2%;
}

h1.title, label {
  color: #d49c6b;
}

div.content {
  text-align: center;
}

form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

label {
  font-size: 24px;
}

input, label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

input.input-date {
  width: 100px;
  font-size: 40px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: #252b31;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #c1c8c7;
  text-align: center;
}

input:hover, input:active, input:focus {
  border: 0;
  border-width:0px;
  outline: 0;
}

button.submit {
  background-color: #252b31;
  border: none;
  border-radius: 5px;
  color: #d49c6b;
  font-size: 30px;
  margin-top: 20px;
}

p#error {
  color: #f6fafb;
}

/* AGE SECTION */
div.age_counter {
  display: none;
}

div#age_counter {
  text-align: center;
  width: 95%;
  height: 150px; 
  margin: 0 auto;
}

p#age, p#age-max, p#time-now, p#percent_of_day {
  color: #f6fafb;
  font-size: 13vw;
  margin: 0px;
}

p#age {
  margin-top: -30px;
  font-size: 11vw;
}

p#time-now{
  font-size: 21vw;
  margin-top: -65px;
}

p#date-now{
  font-size: 4vw;
  color: #f6fafb;
  color: #d49c6b;
  margin-top: -50px;
}

p#percent_of_day {
  font-size: 8vw;
}

p#age-max {
  font-size: 7vw;
}

p#out-of {
  color: #f6fafb;
  font-size: 2.5vw;
  margin: -15px 0px 0px 0px;
}

p.misc {
  color: #f6fafb;
  font-size: 20px;
  margin: 0;
}

h1.title-age {
  color: #d49c6b;
  font-size: 35px;
  margin: 0;
  margin-top: -55px;
}

h1.title-age-one {
  color: #d49c6b;
  font-size: 35px;
  margin: 0;
  margin-top: 15vh;
}

/* AGE STATS */
div#time {
  text-align: center;
  width: 90%;
  height: 275px; 
  margin: 0 auto;
  margin-top: 60px;
}

div.time, div.footer {
  display: none;
}

span.seconds {
  font-size: 7.5vw;
}

span.price {
  float: right;
  color: #f6fafb;
}

/* WEATHER STATS */
div#footer {
  width: 95%;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  text-align: center;
  margin-top: -2vh;
}

div#weather {
  width: 47%;
  text-align: center;
  color: #f6fafb;
  float: left;
  margin-left: 2%;
}

div#stocks {
  width: 42%;
  float: left;
  color: #d49c6b;
  font-size: 4.5vw;
  height: 200px;
  margin-top: 2vh;
  margin-left: 2%;
}

div#VOO, div#DIA, div#QQQ {
  margin: 0;
  margin-bottom: 1vh;
  text-align: justify;
  font-weight: 700;
  clear: both;
}

p.stock_name {
  margin: 0;
  float: left;
}

div#one, div#two, div#three {
  float: left;
}

div#one {
  margin-left: 3vw;
}

div#two, div#three {
  margin-left: 4vw;
}

i {
  font-size: 8vw;
  color: #e6e6e6;
}

i.reg {
  font-size: 4vw;
  color: #f6fafb;
}

i.up, i.down {
  margin-left: 1vw;
}

.up {
  font-size: 3.5vw;
  color: #84bd77;
}

.down {
  font-size: 3.5vw;
  color: #b57272;
}

span.up, span.down {
  font-size: 3.5vw;
  margin-left: 0.3vw;
}

h1.temp {
  font-size: 5vw;
  margin: 5px 0px 0px 0px;
}

h3 {
  margin: 0px 0px 10px 0px;
  font-size: 4vw;
  color: #d49c6b;
}
