/* DOCUMENT STYLING  */
* {
  margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	color: #fffddb;
}

body {
	background-color: #01223b;
}

/* NAV BAR */
div.important-links {
	margin: 10px;
	margin-left: 15px;
}

div.list-item {
	display: inline-block;
	margin-right: 15px;
}

a.list-link {
	text-decoration: underline;
	color: #fffddb;
}

a.list-link:hover {
	font-weight: 600;
}

/* CONTENT */
div#container {
	width: 1375px;
	margin: 0 auto;
}

/* PROFILE (LHS) */
div.profile {
	margin-top: 20px;
	width: 425px;
	border-right: 2px solid grey;
	display: inline-block;
}

img.profile-photo {
  width: 225px;
	border-radius: 200px;
	border: 5px solid #fffddb;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}

div.profile-about {
	display: block;
	text-align: center;
}

p.profile-name {
	font-weight: 600;
	font-size: 35px;
	margin-bottom: 5px;
}

code.hello-world {
	color: white;
	border-radius: 5px;
	background-color: #28282b;
	font-size: 15px;
}

p.bio {
	font-size: 15px;
	line-height: 30px;
	margin: 0px;
}

/* PROJECTS (RHS) */
div.projects {
	vertical-align: top;
	margin-left: 20px;
	display: inline-block;
	width: 870px;
	height: 85vh;
	overflow: hidden;
	overflow-y: scroll;
}

div.projects::-webkit-scrollbar {
	width: 6px;
	padding-left: 10px;
}

div.projects::-webkit-scrollbar-thumb {
	border-radius: 20px; 
}

div.projects:hover::-webkit-scrollbar-thumb {
	background-color: #fffddb; 
	border-radius: 20px; 
}

div.projects-title {
	text-decoration: underline;
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
	line-height: 30px;	
	margin-top: 10px;
}

div.project-item {
	margin-top: 20px;
	position: relative;
}

img.project-display_image {
	width: 275px;
	border: 3px solid #fffddb;
	display: inline-block;
}

div.project-item_description {
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
}

p.project-title {
	font-size: 25px;
	font-weight: 600;
	line-height: 20px;
}

p.project-description {
	max-width: 500px;
	font-size: 15px;
}

span.link {
	position: absolute;
	bottom: 15px;
	right: 70px;
}

i.absolute-icon {
	font-size: 30px;
	position: absolute;
	bottom: 55px;
	right: 20px;
}

i.absolute-icon:hover {
	cursor: pointer;
}

div#hidden-content {
	transition: height .5s;
	height: 0;
	overflow: hidden;
	font-size: 14px;
}

p.project-year {
	font-size: 30px;
	text-decoration: underline;
	font-weight: 600;
	padding-top: 10px;
}

div.hidden-description {
	width: 830px;
}

img.image-descriptions {
	width: 30%;
	border: 2px solid #fffddb;	
}

.d3-images {
	width: 45%;
	border: 4px solid #fffddb;	
}

/* RESUME */
iframe.resume {
	width: 400px;
	height: 550px;
}

.resume-button {
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	margin-left: 200px;
}
